<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AlumNet</title>
    <link rel="stylesheet" href="newResponsiveHomepage.css">

 <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm -->/@fortawesome/fontawesome-free@6.2.1/css/fontawesome.min.css">

<!-- Adding Webpage Icon -->
<link rel="Webpage Icon" href="./PSIT_logo_green.svg" style="fill: green;">
</head>
<body>
    <section class="header">
        <nav>
            <a href="/"><img src=".//PSIT_logo_green.svg" alt="psit-logo" id="psit-logo"></a>
            <h1><u>Alum</u><u class="ul"><span>Net</u></span></h1>
            <div class="nav-links" id="navLinks"
                
            <i class="fa fa-times" onclick="hideMenu()"></i> 
                <ul>
                    <li><button class="hero-btn hide-on-mobile" onclick="location.href='/register'">Register</button></li>
                    <li><button class="hero-btn hide-on-mobile" onclick="location.href='/login'">Login</button></li>
            </ul>             
            </div>
        </nav>


        <div class="text-box">
            <h1>From Campus to Careers: Stay Connected</h1>
            <p>
                Stay connected, stay involved. Because every student's journey is a chapter in the college's story            </p>
                <button class="hero-btn" onclick="location.href='/getStarted'">Get Started</button>
        </div>
    </section>



 <section class="campus">
    <h1>Our Campus</h1>
    <p>Through challenges we find strength, and in moments of silence, our purpose whispers.</p>
    <div class="row">
        <div class="campus-col">
            <img src="how.jpg" alt="photo">
            <div class="layer">
                <h3>Innovation</h3>
            </div>
        </div>
        <div class="campus-col">
            <img src="hey.jpg" alt="photo">
            <div class="layer">
                <h3>Excellence</h3>
            </div>
        </div>
        <div class="campus-col">
            <img src="it.png" alt="">
            <div class="layer">
                <h3>Legacy</h3>
            </div>
        </div>
    </div>
 </section>

<section class="cta">
    <h2>From the hallowed halls of our campus to the vast corners of the world <br> the bond of our alumni remains unbreakable</h2>
    <br>
    <br>
    <button class="hero-btn" onclick="location.href='YOUR_REGISTER_LINK_HERE'">CONTACT US</button>
</section>

<section class="footer">
    <h2>About Us</h2>
    <p>Established as a beacon of excellence in Kanpur, PSIT offers unparalleled education across diverse disciplines, molding future leaders and innovators.At PSIT, our mission is to foster an environment of academic rigor and critical thinking, guiding students towards a future of innovation and leadership. We envision a community of lifelong learners, ever-evolving for the betterment of society.</p>

     </div>
</section>
</body>
</html>