<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Controls</title>
    <link rel="Webpage Icon" href="/PSIT_logo_green.svg" style="fill: green" />
    <style>
      body {
        min-height: 100vh;
        max-width: 100%;
        background-image: linear-gradient(
            rgba(4, 9, 30, 0.7),
            rgba(4, 9, 30, 0.7)
          ),
          url(psit\ kanpur.jpg);
        background-position: center;

        background-size: cover;
        background-position: relative;
      }
      .course {
        text-align: center;
      }
      .course h1 {
        margin-bottom: 30px;
        font-size: 45px;
      }
      body {
        font-family: "Poppins", sans-serif;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        justify-content: center;
        align-items: center;
      }
      .center-container {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        justify-content: center;
        align-items: center;
      }
      .row {
        display: flex;
        justify-content: space-between;
        margin: 40px 0;
      }
      .course-col {
        flex: 1;
        padding: 20px;
        background-color: #4dd686da;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s;
      }
      .course-col:hover {
        transform: translateY(-10px);
      }

      .course-col h3 {
        font-size: 24px;
        margin-top: 10px;
        text-align: center;
        margin-bottom: 12px;
      }

      .course-col p {
        font-size: 20px;
        text-align: center;
        opacity: 0.7;
      }
      .row {
        display: flex;
        justify-content: space-between;
        gap: 20px;
      }

      @media (max-width: 768px) {
        .row {
          flex-direction: column;
          gap: 20px;
        }
        .course h1 {
          font-size: 35px;
          color: black;
          margin-bottom: 70px;
        }
      }
      header {
        /*             background-color: rgba(47, 184, 77, 0.489);
 */
        color: #fff;
        background-color: #4dd686;

        padding: 20px 30px;
        display: flex; /* Add display flex to arrange items horizontally */
        justify-content: space-between; /* Space between items */
        align-items: center; /* Vertically align items */
      }

      nav {
        display: flex;
        font-size: 20px;
      }

      nav a {
        color: #fff;
        text-decoration: none;
        margin: 0 20px;
        font-size: 18px;
      }

      main {
        margin-top: 50px;
        padding: 40px;
        padding-top: 80px;
        text-align: center;
      }

      select {
        width: 100%;
        padding: 10px;
        font-size: 30px;
        margin-bottom: 30px;
        margin-top: 50px;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: rgba(190, 252, 203, 0.543);
      }

      button {
        background-color: rgba(47, 184, 77, 0.489);
        font-size: 20px;
        color: #fff;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
      }
      img {
        height: 100px;
      }

      button:hover {
        background-color: rgba(40, 96, 52, 0.489);
      }
      @media (max-width: 768px) {
        header {
          flex-direction: column;
          align-items: flex-end;
          padding: 0px;
        }
        .course-col {
          margin-top: 10px;
          margin-bottom: 10px;
        }
        nav {
          display: none;
          flex-direction: column;
          align-items: center;
          position: absolute;
          top: 50px;
          right: 0;
          background-color: #2ecc70cc;
          width: 100%;
          margin: auto;
        }

        nav.active {
          display: flex;
          z-index: 1000;
          background-color: #2ecc70cc;
        }
        main {
          margin-top: 10px;
          padding: 40px;
          text-align: center;
        }

        .menu-icon {
          display: block;
          text-align: right;
          padding: 10px;
          background-color: rgba(54, 131, 71, 0.489);
          color: #fff;
          cursor: pointer;
        }

        .menu-icon:before {
          content: "\2630";
          font-size: 24px;
        }

        /* Toggle the 'active' class on click */
        .menu-icon.active:before {
          content: "\2715";
        }
        img {
          height: 60px;
        }
        nav a {
          margin: 10px 0;
          font-size: 25px;
          padding: 5px 5px;
        }
        button {
          background-color: rgba(47, 184, 77, 0.489);
          color: #b5f4a8;
          font-size: 15px;
          border: none;
          padding: 10px 20px;
          border-radius: 5px;
          cursor: pointer;
        }
        button:hover {
          background-color: rgba(40, 108, 55, 0.489);
        }
        select {
          width: 100%;
          padding: 10px;
          font-size: 20px;
          margin-bottom: 10px;
          margin-top: 50px;
          border: 1px solid #ccc;
          border-radius: 5px;
          background-color: rgba(190, 252, 203, 0.543);
        }
      }
    </style>
  </head>
  <body>
    <header>
      <nav>
        <a href="/account/profile">Profile</a>
        <a href="/jobDetails">Job Information</a>
        <a href="/userContact">Contact</a>
        <a href="/uploadJob">Post Jobs & Internships</a>
        <a href="">Events & Webinars</a>
        <a href="">Alumni Stories</a>
        <a href="/logout">LogOut</a>
      </nav>
      <div class="menu-icon" onclick="toggleMenu()"></div>
    </header>
    <div class="center-container">
      <section class="course">
        <h1>Strengthening Bonds, Building Bridges</h1>
        <div class="row">
          <div class="course-col">
            <h3>Alumni Benefits</h3>
            <br />
            <p>
              Exclusive resources, events, and opportunities for the alumni
              community.
            </p>
          </div>
          <div class="course-col">
            <h3>Collaborative Initiatives</h3>
            <br />
            <p>Promote and participate in events driven by and for alumni.</p>
          </div>
          <div class="course-col">
            <h3>Continuous Engagement</h3>
            <br />
            <p>
              Stay updated with college news and be a part of the ongoing
              journey.
            </p>
          </div>
        </div>
      </section>
    </div>
    <script>
      function toggleMenu() {
        var nav = document.querySelector("nav");
        var menuIcon = document.querySelector(".menu-icon");
        if (nav.classList.contains("active")) {
          nav.classList.remove("active");
          menuIcon.classList.remove("active");
        } else {
          nav.classList.add("active");
          menuIcon.classList.add("active");
        }
      }
    </script>
  </body>
</html>
